@use '../utils/mixins' as *;

.footer {
  @include media(md) {
    padding: 40px 0;
  }

  margin-top: var(--gap-y);
  padding: 47px 60px;

  font-weight: 350;
  color: var(--gray-400);

  border: 1px solid var(--gray-800);

  &__inner {
    @include media(md) {
      display: flex;
      flex-direction: column;
    }

    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
  }

  &__nav {
    @include media(md) {
      width: 100%;
    }
  }

  &__nav-list {
    @include media(md) {
      justify-content: space-between;
      margin-bottom: 32px;
    }

    display: flex;
  }

  &__nav-item {
    @include media(md) {
      margin: 0;
    }

    margin-right: 24px;

    &:last-child {
      margin: 0;
    }
  }

  &__right {
    @include media(md) {
      flex-direction: column;
      align-items: center;
      margin-bottom: 3rem;
      text-align: center;
    }

    display: flex;
    justify-content: flex-end;
  }

  &__copyright {
    @include media(md) {
      margin-right: 0;
      margin-bottom: 16px;
    }

    margin-right: 24px;
  }

  &__madein {
    color: var(--white-color);
  }

  &__btn {
    @include media(md) {
      position: fixed;
      z-index: 1000;
      bottom: 16px;
      left: 0;

      width: calc(100% - var(--gap) * 2);
      margin: 0 var(--gap);
    }

    grid-column: 2/3;
    padding: 14px 20px;
    font-size: rem(16px);
    font-weight: 400;
  }
}

.footer-secondary {
  margin-top: 0;
  border: none;

  .footer__inner {
    display: flex;
    justify-content: space-between;
  }
}
