@use '../utils/vars' as *;
@use '../utils/mixins' as *;

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 26px;
    padding-bottom: 26px;
  }

  &__nav {
    @include media(md) {
      display: none;
    }

    margin-right: auto;
    margin-left: 48px;
  }

  &__btn {
    margin-right: 12px;
    line-height: 150%;

    &:last-child {
      margin-right: 0;
    }
  }
}
