section.section.container
  .additional-services 
    h2.additional-services__title Our Expanded Services are Here to Take Your Digital Presence to the Next Level!
    .additional-services__list 
      p.additional-services__item branding
      p.additional-services__item websites
      p.additional-services__item motion
      p.additional-services__item smm/seo
    p.additional-services__text Have a collaboration in mind, or just want to talk?
    button.additional-services__btn(type="button" data-modal="purchase-modal") Get in touch with us