section.section.container#cases
  - locals.sectionTitle = "What we already did"
  - locals.sectionDesc = null
  include ../blocks/section-heading
  .cases-wrapper
    .cases
      each val in [0,1,2,3]
        .cases__col
          each val2 in [1,2,3,4]
            .cases__item
              picture.cases__image
                img(src=require(`@/images/cases/${val}-${val2}.jpg`), alt="")
    button.cases-wrapper__more-btn.hidden-desktop.js-cases-more(type="button") 
      span View more
      svg(width="20" height="20")
        use(xlink:href="sprite.svg#plus_sprite") 
    button.cases-wrapper__purchase.btn.btn--purchase.hidden-mobile(type="button" data-modal="purchase-modal")
      span.btn__inner Get a set of creatives

