section.section.container 
  .cta-messenger
    .cta-messenger__text
      h3.cta-messenger__title Any more questions?
      .cta-messenger__desc
        .cta-messenger__manager-info.hidden-desktop
          picture.cta-messenger__manager-image
            img(src=require('@/images/cta-m.jpg'), alt="")
          h4.cta-messenger__manager-name Mark 
        p Write directly to us. We are open and available at all reasonable times
    .cta-messenger__manager
      .cta-messenger__manager-info.hidden-mobile
        picture.cta-messenger__manager-image
          img(src=require('@/images/cta-m.jpg'), alt="")
        h4.cta-messenger__manager-name Mark 
      a.cta-messenger__feedback(href="")
        picture.cta-messenger__feedback-icon 
          img(src=require('@/images/tg.svg'), alt="")
        h5.cta-messenger__feedback-text Write #[br] on Telegram

