section.section.container 
  - locals.sectionTitle = 'FAQ'
  include ../blocks/section-heading
  .faq
    .faq__item
      .faq__heading
        h4.faq__title What materials do you need to send us to make a cool creative?
        .faq__icon
          svg(width="32" height="32")
            use(xlink:href="sprite.svg#faq_sprite")
      .faq__content-wrapper
        .faq__content
          ul
            li If your company has an elaborate corporate identity, we will need a guideline with information about corporate colors, fonts, and other corporate elements.
            li If you plan to use your own photos, leave a link to your photo folder in the brief. Minimum photo size is 1920 × 1080 (?)? format: JPG, PNG
            li All text information that should be on the banner (advertising slogans, information about the advertised product, service, company, a call to action, technical information, legal information)
    .faq__item
      .faq__heading
        h4.faq__title What materials do you need to send us to make a cool creative?
        .faq__icon
          svg(width="32" height="32")
            use(xlink:href="sprite.svg#faq_sprite")
      .faq__content-wrapper
        .faq__content
          p If your company has an elaborate corporate identity, we will need a guideline with information about corporate colors, fonts, and other corporate elements.
          p If you plan to use your own photos, leave a link to your photo folder in the brief. Minimum photo size is 1920 × 1080 (?)? format: JPG, PNG
          p All text information that should be on the banner (advertising slogans, information about the advertised product, service, company, a call to action, technical information, legal information)
    .faq__item
      .faq__heading
        h4.faq__title What materials do you need to send us to make a cool creative?
        .faq__icon
          svg(width="32" height="32")
            use(xlink:href="sprite.svg#faq_sprite")
      .faq__content-wrapper
        .faq__content
          p If your company has an elaborate corporate identity, we will need a guideline with information about corporate colors, fonts, and other corporate elements.
          p If you plan to use your own photos, leave a link to your photo folder in the brief. Minimum photo size is 1920 × 1080 (?)? format: JPG, PNG
          p All text information that should be on the banner (advertising slogans, information about the advertised product, service, company, a call to action, technical information, legal information)
    .faq__item
      .faq__heading
        h4.faq__title What materials do you need to send us to make a cool creative?
        .faq__icon
          svg(width="32" height="32")
            use(xlink:href="sprite.svg#faq_sprite")
      .faq__content-wrapper
        .faq__content
          p If your company has an elaborate corporate identity, we will need a guideline with information about corporate colors, fonts, and other corporate elements.
          p If you plan to use your own photos, leave a link to your photo folder in the brief. Minimum photo size is 1920 × 1080 (?)? format: JPG, PNG
          p All text information that should be on the banner (advertising slogans, information about the advertised product, service, company, a call to action, technical information, legal information)

