section.section.container 
  - locals.sectionTitle = "Experience the Difference"
  - locals.sectionSubtitle = 'Benefits of our ADS service';
  - locals.sectionDesc = null
  include ../blocks/section-heading
  .features-experience 
    .features-experience__item 
      picture.features-experience__image
        img(src=require('@/images/f-e.svg'), alt="")
      h3.features-experience__title Simplest process of communication
      p.features-experience__desc Get started quickly with our simple communication process that provides a brief link upon payment.
    .features-experience__item 
      picture.features-experience__image
        img(src=require('@/images/f-e.svg'), alt="")
      h3.features-experience__title Talented team crafting best ADS
      p.features-experience__desc Our team is dedicated to finding best solutions to meet your advertising needs and surpass your expectations.
    .features-experience__item 
      picture.features-experience__image
        img(src=require('@/images/f-e.svg'), alt="")
      h3.features-experience__title Boost your marketing efforts
      p.features-experience__desc With our high-quality ADS creatives, you can boost your marketing results and capture the attention of audience.
    .features-experience__item 
      picture.features-experience__image
        img(src=require('@/images/f-e.svg'), alt="")
      h3.features-experience__title Fast turnaround time for best results
      p.features-experience__desc You won't have to wait long to see results. Our standard service provides a fast turnaround time of 3-5 days.