section.section.container
  .hero
    h1.hero__title A set of high-conversion ADS creatives
      span.hero__badge
        span.hero__price 99$
        span.hero__vat +VAT
    p.hero__desc Test ideas and increase conversions, we'll take care of the rest
    .hero__video-wrapper.js-toggle-sound
      .hero__video.video
        button.video__control-sound.js-toggle-sound.hidden-desktop
          svg(width="40" height="40")
            use(href="sprite.svg#on-sound_sprite") 
        video.video__src(src="https://einzelwerk.ru/assets/images/hero-10215256.mp4" muted playsinline loop autoplay) 