section.section.section--s.container 
  .hero-secondary
    .hero-secondary__text 
      h1.hero-secondary__title A set of high-conversion ADS creatives
      p.hero-secondary__desc Test ideas and increase conversions, we'll take care of the rest
      button.hero-secondary__btn.btn.btn--primary(type="button" data-modal="purchase-modal") Get a set of creatives
    .hero-secondary__video-wrapper.js-toggle-sound
      .hero-secondary__price 
        span(aria-label="price") 119$
        span.hero-secondary__vat +VAT
      .hero-secondary__video.video
        button.video__control-sound.js-toggle-sound.hidden-desktop
          svg(width="40" height="40")
            use(href="sprite.svg#on-sound_sprite") 
        video.video__src(src="https://einzelwerk.ru/assets/images/hero-10215256.mp4" muted playsinline loop autoplay) 