section.section.container 
  .hero
    h1.hero__title A set of high-conversion ADS creatives
      span.hero__badge
        span.hero__price 99$
        span.hero__vat +VAT
    p.hero__desc Test ideas and increase conversions, we'll take care of the rest
    .container.hero__video-wrapper
      .hero__video.video 
        video.video__src(src="https://einzelwerk.ru/assets/images/hero-10215256.mp4" muted playsinline loop autoplay) 