.modal-wrapper(data-modal-el="purchase-modal")
  .modal.modal-purchase
    .modal-purchase__inner
      .modal__close.js-close-modal
        svg(width="26" height="26")
          use(xlink:href="sprite.svg#close_sprite") 
      h4.modal-purchase__title Select payment method
      p.modal-purchase__desc Immediately after payment we will send you a link to the brief
      .modal-purchase__payment.payment-method
        .payment-method__item 
          a.payment-method__link(href="")
            picture.payment-method__image
              img(src=require('@/images/payment/1.jpg'), alt="") 
        .payment-method__item 
          a.payment-method__link(href="")
            picture.payment-method__image
              img(src=require('@/images/payment/2.jpg'), alt="") 

.modal-wrapper(data-modal-el="timer-modal")
  .modal.modal-timer
    .modal-timer__inner
      .modal-timer__close.js-close-modal.modal__close
        svg(width="26" height="26")
          use(xlink:href="sprite.svg#close_sprite") 
      h4.modal-timer__title You can get 12 creatives in 3 different designs at a discount
      picture.modal-timer__image
        img(src=require('@/images/modal-timer.png'), alt="")
      .modal-timer__valid valid for 
        .modal-timer__timer-group.timer-group
          .timer-group__item.timer-group__days 3 days
          .timer-group__item.timer-group__hours 5 hours
          .timer-group__item.timer-group__minutes 18 minutes
      .modal-timer__btn.btn.btn--primary.js-close-modal(data-modal="purchase-modal")
        span.btn__inner Get a set of creatives