section.section(id="results")
  .container
    - locals.sectionTitle = "Top-Performing Ads"
    - locals.sectionSubtitle = 'See Our Impressive CTR Results!';
    - locals.sectionDesc = null
    include ../blocks/section-heading
  .showroom.js-showroom-slider.swiper
    .swiper-wrapper
      each val in [1,2,3,4,5,6,1,2,3,4,5,6]
        .showroom__item.swiper-slide
          .showroom__media
            picture.showroom__media-src
              img(src=require(`@/images/showroom/${val}.jpg`), alt="")
          .showroom__text
            span.showroom__ctr CTR 4.33%
            span.showroom__company Pettec Shop