section.section(id="results")
  .container
    - locals.sectionTitle = "High CTR Showroom"
    - locals.sectionSubtitle = null;
    - locals.sectionDesc = null
    include ../blocks/section-heading
  .container-fluid.showroom.js-showroom-slider.swiper
    .swiper-wrapper
      each val in [1,2,3,4,5]
        .showroom__item.swiper-slide 
          picture.showroom__image 
            img(src=require(`@/images/showroom/${val}.jpg`), alt="")
          .showroom__text
            span.showroom__ctr CTR 4.33%
            span.showroom__company Pettec Shop