section.section.container#steps 
  - locals.sectionTitle = "It's easy to work with us"
  - locals.sectionDesc = null
  include ../blocks/section-heading
  .steps-wrapper 
    .steps
      .steps__item 
        .steps__heading 
          span.steps__index 1st Step 
          .steps__duration
            .steps__icon
              svg(width="24" height="24")
                use(xlink:href="sprite.svg#clock_sprite")
            .steps__duration-text 5 min
        h3.steps__title Pay for service
        p.steps__desc There are only 12 questions in the brief, which will help to clearly formulate the task
        picture.steps__image
          img(src=require('@/images/steps/1.svg'), alt="")
      .steps__item 
        .steps__heading 
          span.steps__index 2st Step 
          .steps__duration
            .steps__icon
              svg(width="24" height="24")
                use(xlink:href="sprite.svg#clock_sprite")
            .steps__duration-text 20 min
        h3.steps__title Fill the brief
        p.steps__desc There are only 12 questions in the brief, which will help to clearly formulate the task
        picture.steps__image
          img(src=require('@/images/steps/2.svg'), alt="")
      .steps__item 
        .steps__heading 
          span.steps__index 3st Step 
          .steps__duration
            .steps__icon
              svg(width="24" height="24")
                use(xlink:href="sprite.svg#clock_sprite")
            .steps__duration-text 5 days
        h3.steps__title Start ADS Campaign
        p.steps__desc In 7 days you will receive a set of creatives in 4 designs
        picture.steps__image
          img(src=require('@/images/steps/3.svg'), alt="")
    button.steps__purchase.btn.btn--purchase(data-modal="purchase-modal") Get a set of creatives