footer.footer.footer-secondary
  .footer__inner.container
    nav.footer__nav
      ul.footer__nav-list 
        li.footer__nav-item 
          a.footer__nav-link(href="") Terms of Service
        li.footer__nav-item 
          a.footer__nav-link(href="") Privacy Policy
    .footer__right
      span.footer__copyright 2023. © All rights reserved.
      a.footer__madein(href="https://www.einzelwerk.pro/" target="_blank") by Einzelwerk