footer.footer 
  .footer__inner
    nav.footer__nav
      ul.footer__nav-list 
        li.footer__nav-item 
          a.footer__nav-link(href="") Terms of Service
        li.footer__nav-item 
          a.footer__nav-link(href="") Privacy Policy
    button.footer__btn.btn.btn--primary(type="button")
      span.btn__inner Get a set of creatives
    .footer__right
      span.footer__copyright 2023. © All rights reserved.
      a.footer__madein(href="https://www.einzelwerk.pro/" target="_blank") by Einzelwerk