header.header
  .header__inner.container 
    .header__logo.logo 
      a.logo__link(href="") 
        img.logo__src(src=require('@/images/logo.svg'), alt="")
    a.header__btn.btn.btn--secondary(href="/")
      span.btn__inner Back to site