header.header
  .header__inner.container 
    .header__logo.logo 
      a.logo__link(href="") 
        img.logo__src(src=require('@/images/logo.svg'), alt="")
    nav.header__nav.nav
      ul.nav__list 
        li.nav__item 
          a.nav__link.link-hover(href="#steps") How to order
        li.nav__item 
          a.nav__link.link-hover(href="#cases") Examples
        li.nav__item 
          a.nav__link.link-hover(href="#results") Deliverables
    button.header__btn.btn.btn--white.hidden-mobile(type="button" data-modal="contact-modal")
      span.btn__inner Contact us
    button.header__btn.btn.btn--primary.hidden-mobile(type="button" data-modal="purchase-modal")
      span.btn__inner Get a set of creatives
    button.header__btn.btn.btn--primary.hidden-desktop(type="button" data-modal="purchase-modal")
      span.btn__inner Get a set