@use '../utils/mixins' as *;

.btn {
  cursor: pointer;
  padding: 12px 20px;
  text-align: center;
  transition: background 0.5s;

  &__price {
    @include media(md) {
      position: relative;
      transform: none;

      width: 80px;
      height: 80px;
      margin: -30px 0 -30px 16px;
    }

    position: absolute;
    position: absolute;
    top: 50%;
    right: 0;
    transform: rotate(-15deg);
    transform: translateX(85%) translateY(-50%) rotate(-15deg);

    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 82px;
    height: 82px;

    font-size: rem(20px);
    color: var(--gray-900);

    background: var(--white-color);
    border-radius: 50%;
  }

  &__vat {
    font-size: rem(12px);
    line-height: 125%;
    color: var(--gray-500);
  }

  &:hover {
    background: #b0c23a;
  }

  &--primary {
    color: var(--gray-900);
    background: var(--accent-color);
    border-radius: 8px;
  }

  &--purchase {
    width: 100%;
    padding: 25px;

    font-size: rem(20px);
    color: var(--gray-900);

    background: var(--accent-color);
    border-radius: 8px;
  }

  &--secondary {
    padding: 12px 20px;

    font-size: rem(16px);
    color: var(--gray-300);

    background: #272727;
    border-radius: 8px;
  }

  &--icon {
    @include media(md) {
      padding: 22px 15px 22px 20px;
      font-size: rem(18px);
      border-radius: 16px;
    }

    position: relative;
    padding: 42px 25px;
    font-size: rem(32px);
    border-radius: 32px;

    .btn__inner {
      @include media(md) {
        display: flex;
        justify-content: center;
      }

      position: relative;
    }
  }
}
