@use '../utils/mixins' as *;

.cta-wrapper {
  &__btn {
    margin-top: 24px;
  }
}

.cta {
  @include media(md) {
    padding: 30px 20px;
    background-image: url(../assets/images/sale-bg-m.svg);
  }

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 40px;

  font-weight: 350;
  color: var(--gray-500);

  background: var(--white-color);
  background-image: url(../assets/images/sale-bg.svg);
  background-repeat: no-repeat;
  background-position: 0 95px;
  background-size: 100%;
  border-radius: 32px;

  &__title {
    @include media(md) {
      font-size: rem(36px);
    }

    font-size: rem(48px);
    font-weight: 400;
    color: var(--gray-900);
    text-align: center;
    letter-spacing: -0.03em;
  }

  &__discount {
    @include media(md) {
      margin-bottom: 24px;
      font-size: rem(36px);
    }

    transform: translateY(-20%);

    margin-bottom: 36px;
    padding: 12px 24px;

    font-size: rem(48px);
    font-weight: 400;
    color: var(--gray-900);

    background: var(--accent-color);
    border-radius: 32px;
  }

  &__end-text {
    @include media(md) {
      margin-top: 32px;
      font-size: rem(12px);
      line-height: 150%;
      text-align: center;
    }

    margin-top: 60px;
    line-height: 143%;

    span {
      font-weight: 400;
      color: var(--gray-900);
    }
  }
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__heading {
    display: block;
    margin-bottom: 16px;
    font-size: rem(20px);
    line-height: 150%;
  }
}

.timer-group {
  display: flex;

  &__item {
    @include media(md) {
      padding: 6px 10px;
      font-size: rem(14px);
    }

    margin-right: 4px;
    padding: 8px 16px;

    font-size: rem(20px);
    font-weight: 350;
    line-height: 150%;

    background: var(--gray-100);
    border-radius: 16px;

    &:last-child {
      margin: 0;
    }
  }
}
