@use '../utils/mixins' as *;

.fixed-buttons {
  @include media(sm) {
    bottom: 4px;
    gap: 4px;
  }

  position: fixed;
  z-index: 1010;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  gap: 8px;
  justify-content: center;

  width: 100%;
  padding-right: var(--gap);
  padding-left: var(--gap);

  transition: transform 0.5s;

  &__btn {
    @include media(sm) {
      flex: 1;
      padding: 10px 20px;
      font-size: rem(12px);
    }

    padding: 12px 30px;
    font-size: rem(18px);
    line-height: 156%;
  }
}
