@use '../utils/mixins' as *;

.fixed-buttons {
  position: fixed;
  z-index: 1010;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);

  display: flex;
  gap: 8px;

  transition: transform 0.5s;

  &.show {
    transform: translate(-50%, -15%);
  }

  &__btn {
    padding: 12px 30px;
    font-size: rem(18px);
    line-height: 156%;
  }
}
