@use '../utils/mixins' as *;

.hero-section {
  overflow: hidden;
  padding-top: var(--header-height);
  background: linear-gradient(180deg, #bab4ff 34.46%, #8857cf 81.67%), #c3b4ff;
  border-radius: 0 0 48px 48px;
}

.hero {
  position: relative;
  padding-top: 40px;

  &__grid {
    pointer-events: none;
    user-select: none;

    position: absolute;
    z-index: 0;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 100%;

    opacity: 0.75;

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  &__text {
    position: relative;
    z-index: 10;

    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 1125px;
    margin: auto;
    padding-right: var(--gap);
    padding-left: var(--gap);

    color: var(--gray-900);
  }

  &__title {
    @include media(md) {
      margin-bottom: 16px;
      font-size: rem(28px);
    }

    margin-bottom: 24px;

    font-size: rem(56px);
    line-height: 114%;
    text-align: center;
    letter-spacing: -0.02em;
  }

  &__desc {
    font-size: rem(18px);
    font-weight: 300;
    line-height: 156%;
    text-align: center;

    opacity: 0.8;
  }

  &__btn {
    @include media(md) {
      margin-top: 24px;
      padding: 18px 32px;
      font-size: rem(16px);
    }

    margin-top: 36px;
    padding: 20px 32px;
    font-size: rem(20px);
    line-height: 150%;
  }
}

@keyframes up-down-1 {
  0% {
    transform: translateY(10%);
  }

  100% {
    transform: translateY(0%);
  }
}

.hero-cards {
  @include media(md) {
    --gap: 0;

    margin-left: -15px;
  }

  position: relative;
  z-index: 10;
  display: flex;

  &__item {
    overflow: hidden;
    flex: 1;
    margin-right: -30px;
    border-radius: 20px;

    &:nth-child(1) {
      transform: translateY(10%);
    }

    &:nth-child(2) {
      transform: translateY(15%);
    }

    &:nth-child(3) {
      transform: translateY(20%);
    }

    &:nth-child(4) {
      transform: translateY(16%);
    }

    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

.hero-secondary {
  @include media(md) {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 70px;
  align-items: center;

  &__title {
    @include media(xl) {
      font-size: rem(40px);
    }

    @include media(md) {
      margin-bottom: 20px;
      font-size: rem(32px);
      text-align: center;
    }

    position: relative;

    max-width: 983px;
    margin: auto;
    margin-bottom: 32px;

    font-size: rem(60px);
    line-height: 120%;
    letter-spacing: -0.03em;
  }

  &__desc {
    @include media(md) {
      font-size: rem(16px);
      text-align: center;
    }

    font-size: rem(24px);
    font-weight: 300;
    line-height: 133%;
    color: var(--gray-300);
  }

  &__video-wrapper {
    position: relative;
  }

  &__image {
    position: relative;

    overflow: hidden;

    height: 0;
    padding-bottom: 89%;

    border: 4px solid var(--white-color);
    border-radius: 32px;

    img {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }

  &__price {
    @include media(md) {
      top: 0;
      left: 20px;
      transform: translate(0, -50%) rotate(-15deg);

      width: 75px;
      height: 75px;

      font-size: rem(22px);
    }

    position: absolute;
    z-index: 10;
    top: 70px;
    left: 0;
    transform: translateX(-50%) rotate(-15deg);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 140px;
    height: 140px;

    font-size: rem(38px);
    color: var(--gray-900);

    background: var(--accent-color);
    border-radius: 50%;
  }

  &__vat {
    @include media(md) {
      font-size: rem(10px);
    }

    font-size: 1rem;
  }

  &__btn {
    @include media(md) {
      display: none;
    }

    margin-top: 60px;
    padding: 25px 40px;
    font-size: rem(20px);
    border-radius: 24px;
  }

  &__badge {
    @include media(md) {
      width: 77px;
      height: 77px;
      font-size: rem(22px);
      line-height: 1;
    }

    position: absolute;
    right: 10%;
    transform: translateY(-16%) rotate(-15deg);

    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 140px;
    height: 140px;

    font-size: rem(37px);
    color: var(--background-color);

    background: var(--accent-color);
    border-radius: 50%;
  }

  &__price {
    line-height: 125%;
  }

  &__vat {
    @include media(md) {
      font-size: rem(10px);
      line-height: 1;
    }

    font-size: rem(16px);
    line-height: 150%;
  }
}
