@use '../utils/mixins' as *;

.hero {
  &__title {
    @include media(sm) {
      margin-bottom: 20px;
      font-size: rem(32px);
    }

    position: relative;

    max-width: 983px;
    margin: auto;
    margin-bottom: 32px;

    font-size: rem(60px);
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.03em;
  }

  &__badge {
    @include media(md) {
      width: 77px;
      height: 77px;
      font-size: rem(22px);
      line-height: 1;
    }

    position: absolute;
    right: 10%;
    transform: translateY(-16%) rotate(-15deg);

    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 140px;
    height: 140px;

    font-size: rem(37px);
    color: var(--background-color);

    background: var(--accent-color);
    border-radius: 50%;
  }

  &__price {
    line-height: 125%;
  }

  &__vat {
    @include media(md) {
      font-size: rem(10px);
      line-height: 1;
    }

    font-size: rem(16px);
    line-height: 150%;
  }

  &__desc {
    @include media(md) {
      font-size: rem(16px);
    }

    max-width: 580px;
    margin: auto;

    font-size: rem(24px);
    font-weight: 350;
    line-height: 133%;
    color: var(--gray-300);
    text-align: center;
  }

  &__video-wrapper {
    @include media(md) {
      margin-top: 40px;
    }

    margin-top: 80px;
  }
}

.hero-secondary {
  @include media(md) {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 70px;
  align-items: center;

  &__title {
    @include media(xl) {
      font-size: rem(40px);
    }

    @include media(md) {
      margin-bottom: 20px;
      font-size: rem(32px);
      text-align: center;
    }

    position: relative;

    max-width: 983px;
    margin: auto;
    margin-bottom: 32px;

    font-size: rem(60px);
    line-height: 120%;
    letter-spacing: -0.03em;
  }

  &__desc {
    @include media(md) {
      font-size: rem(16px);
      text-align: center;
    }

    font-size: rem(24px);
    font-weight: 300;
    line-height: 133%;
    color: var(--gray-300);
  }

  &__video-wrapper {
    position: relative;
  }

  &__image {
    position: relative;

    overflow: hidden;

    height: 0;
    padding-bottom: 89%;

    border: 4px solid var(--white-color);
    border-radius: 32px;

    img {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }

  &__price {
    @include media(md) {
      top: 0;
      left: 20px;
      transform: translate(0, -50%) rotate(-15deg);

      width: 75px;
      height: 75px;

      font-size: rem(22px);
    }

    position: absolute;
    z-index: 10;
    top: 70px;
    left: 0;
    transform: translateX(-50%) rotate(-15deg);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 140px;
    height: 140px;

    font-size: rem(38px);
    color: var(--gray-900);

    background: var(--accent-color);
    border-radius: 50%;
  }

  &__vat {
    @include media(md) {
      font-size: rem(10px);
    }

    font-size: 1rem;
  }

  &__btn {
    @include media(md) {
      display: none;
    }

    margin-top: 60px;
    padding: 25px 40px;
    font-size: rem(20px);
    border-radius: 24px;
  }

  &__badge {
    @include media(md) {
      width: 77px;
      height: 77px;
      font-size: rem(22px);
      line-height: 1;
    }

    position: absolute;
    right: 10%;
    transform: translateY(-16%) rotate(-15deg);

    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 140px;
    height: 140px;

    font-size: rem(37px);
    color: var(--background-color);

    background: var(--accent-color);
    border-radius: 50%;
  }

  &__price {
    line-height: 125%;
  }

  &__vat {
    @include media(md) {
      font-size: rem(10px);
      line-height: 1;
    }

    font-size: rem(16px);
    line-height: 150%;
  }
}
