@use '../utils/mixins' as *;

.hero {
  &__title {
    @include media(sm) {
      margin-bottom: 20px;
      font-size: rem(32px);
    }

    position: relative;

    max-width: 983px;
    margin: auto;
    margin-bottom: 32px;

    font-size: rem(60px);
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.03em;
  }

  &__badge {
    @include media(md) {
      width: 77px;
      height: 77px;
      font-size: rem(22px);
      line-height: 1;
    }

    position: absolute;
    right: 10%;
    transform: translateY(-16%) rotate(-15deg);

    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 140px;
    height: 140px;

    font-size: rem(37px);
    color: var(--background-color);

    background: var(--accent-color);
    border-radius: 50%;
  }

  &__price {
    line-height: 125%;
  }

  &__vat {
    @include media(md) {
      font-size: rem(10px);
      line-height: 1;
    }

    font-size: rem(16px);
    line-height: 150%;
  }

  &__desc {
    @include media(md) {
      font-size: rem(16px);
    }

    max-width: 580px;
    margin: auto;

    font-size: rem(24px);
    font-weight: 350;
    line-height: 133%;
    color: var(--gray-300);
    text-align: center;
  }

  &__video-wrapper {
    @include media(md) {
      margin-top: 40px;
    }

    margin-top: 80px;
  }
}
