@use '../utils/mixins' as *;

.modal-wrapper {
  position: fixed;
  z-index: 1010;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  visibility: hidden;
  opacity: 0;

  &::before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: 0.8;
    background: #0f0f0f;
  }
}

.modal {
  @include media(md) {
    width: calc(100% - var(--gap) * 2);
  }

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__close {
    @include media(md) {
      top: 10px;
      right: 10px;
      width: 36px;
      height: 36px;
    }

    cursor: pointer;

    position: absolute;
    top: 20px;
    right: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 52px;
    height: 52px;

    background: var(--gray-800);
    border-radius: 16px;

    svg {
      @include media(md) {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.modal-purchase {
  &__inner {
    @include media(md) {
      width: 100%;
      padding: 32px 24px;
    }

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    max-width: 800px;
    padding: 60px 88px;

    background: #272727;
    border-radius: 32px;
  }

  &__title {
    @include media(md) {
      margin-bottom: 16px;
      font-size: rem(24px);
      text-align: center;
    }
    @include media(xs) {
      font-size: rem(20px);
    }

    margin-bottom: 24px;
    font-size: rem(32px);
  }

  &__desc {
    @include media(md) {
      font-size: rem(14px);
    }

    max-width: 480px;

    font-size: rem(20px);
    font-weight: 350;
    line-height: 143%;
    color: var(--gray-300);
    text-align: center;
  }

  &__payment {
    @include media(md) {
      margin-top: 24px;
    }

    margin-top: 48px;
  }
}

.payment-method {
  display: flex;

  &__item {
    @include media(md) {
      margin-right: 12px;
    }

    position: relative;
    margin-right: 24px;

    &::before {
      pointer-events: none;
      content: '';

      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      opacity: 0;
      background: var(--gray-300);

      transition: opacity 0.5s;
    }

    &:hover {
      &::before {
        opacity: 0.4;
      }
    }

    &:last-child {
      margin: 0;
    }
  }

  &__image {
    overflow: hidden;
    border-radius: 12px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.modal-timer {
  &__inner {
    @include media(md) {
      width: 100%;
      padding: 32px 24px;
    }

    max-width: 800px;
    padding: 40px 65px;
    background: #272727;
    border-radius: 32px;
  }

  &__title {
    @include media(md) {
      margin-bottom: 16px;
      font-size: rem(24px);
      text-align: center;
    }

    max-width: 535px;
    margin: auto;
    margin-bottom: 37px;

    font-size: rem(32px);
    line-height: 125%;
    text-align: center;
  }

  &__image {
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__valid {
    @include media(md) {
      flex-direction: column;
      font-size: rem(14px);
    }

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: rem(20px);
    color: var(--gray-500);

    .timer-group {
      @include media(md) {
        margin-top: 10px;
        margin-left: 0;
      }

      margin-left: 16px;

      &__item {
        @include media(md) {
          font-size: rem(14px);
        }

        font-weight: 350;
        color: var(--gray-300);
        background: var(--gray-800);
      }
    }
  }

  &__btn {
    @include media(md) {
      padding: 10px 32px;
      font-size: rem(16px);
    }

    margin-top: 32px;
    padding: 25px;
    font-size: rem(20px);
    border-radius: 24px;
  }
}
