@use '../utils/mixins' as *;

.results {
  @include media(md) {
    display: flex;
    flex-direction: column;
  }

  display: grid;
  grid-template-columns: 1fr 1fr;

  &__col {
    &--nav {
      display: flex;
      flex-direction: column;
    }

    &--content {
      position: relative;
      height: 0;
      padding-bottom: calc(720px / 672px * 100%);
    }
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
  }

  &__image {
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 32px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__badge {
    @include media(md) {
      top: auto;
      bottom: 0;
      left: 0;
      transform: none;

      flex-direction: row;
      justify-content: center;

      width: 100%;
      padding: 8px 30px;

      font-size: rem(20px);
      line-height: 150%;

      border-radius: 16px;
    }

    position: absolute;
    top: 60px;
    transform: translateX(-50%);

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 16px 32px;

    font-size: rem(24px);
    color: var(--gray-900);

    background: var(--accent-color);
    border-radius: 24px;
  }

  &__ctr {
    @include media(md) {
      margin-right: 12px;
      font-size: rem(14px);
    }

    opacity: 0.5;
  }

  &__title {
    @include media(md) {
      margin: auto;
      margin-bottom: 24px;
      font-size: rem(24px);
      text-align: center;
    }

    position: relative;
    align-self: flex-start;
    font-size: rem(48px);

    &::after {
      @include media(md) {
        content: none;
      }

      content: '';

      position: absolute;
      top: 0;
      right: 0;
      transform: translateX(35%);

      display: block;

      width: 245px;
      height: 230px;

      background: url(../assets/images/arrow.svg);
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

.results-btn-list {
  @include media(md) {
    overflow: auto;
    flex-direction: row;
    margin-bottom: 40px;
  }

  display: flex;
  flex-direction: column;
  margin-top: auto;

  &__item {
    @include media(md) {
      margin: 0;
      margin-right: 12px;
      padding: 10px 16px;

      font-size: rem(14px);
      color: var(--gray-500);
      white-space: nowrap;

      background: #272727;
      border-radius: 12px;
    }

    cursor: pointer;

    margin-bottom: 48px;

    font-size: rem(32px);
    color: var(--gray-700);

    transition: color 0.5s;

    &:hover {
      color: var(--gray-600);
    }

    &[aria-selected='true'] {
      @include media(md) {
        color: var(--gray-800);
        background: var(--white-color);
      }

      color: var(--white-color);
    }

    &:last-child {
      @include media(md) {
        margin: initial;
      }

      margin: 0;
    }
  }
}
