@use '../utils/mixins' as *;

.reviews-wrapper {
  max-width: 1044px;
}

.reviews {
  &__grade {
    @include media(sm) {
      flex-direction: row;
      margin-top: 30px;
    }

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }

  &__item {
    @include media(sm) {
      padding: 40px 20px;
    }

    padding: 68px 72px;
    border: 1px solid rgb(255 255 255 / 20%);
    border-radius: 32px;
  }

  &__star-wrapper {
    @include media(sm) {
      margin-right: 20px;
      margin-bottom: 0;
    }

    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }

  &__company {
    display: flex;
    align-items: center;
    max-width: 80px;

    img {
      max-width: 100%;
    }
  }

  &__star {
    width: 24px;
    height: 24px;
    margin-right: 4px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &:last-child {
      margin: 0;
    }
  }

  &__text {
    @include media(md) {
      margin-top: 16px;
      font-size: rem(18px);
      line-height: 150%;
    }

    max-width: 900px;
    margin: auto;
    margin-top: 32px;

    font-size: rem(24px);
    line-height: 133%;
    text-align: center;
  }

  &__bottom {
    @include media(sm) {
      flex-direction: column;
      align-items: center;
      margin-top: 24px;
    }

    display: flex;
    justify-content: space-between;
    margin-top: 60px;
  }
}

.reviews-author {
  @include media(md) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  display: flex;
  align-items: center;

  &__image {
    @include media(md) {
      margin-right: 12px;
      margin-bottom: 0;
    }

    overflow: hidden;

    width: 64px;
    height: 64px;
    margin-right: 20px;

    border-radius: 50%;
  }

  &__name {
    @include media(sm) {
      font-size: rem(14px);
    }

    margin-bottom: 8px;
    font-size: rem(16px);
  }

  &__position {
    @include media(sm) {
      font-size: rem(12px);
    }

    font-weight: 350;
    color: var(--gray-500);
  }
}
