@use '../utils/mixins' as *;

.reviews {
  &__grade {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__star {
    margin-right: 4px;

    &:last-child {
      margin: 0;
    }
  }

  &__text {
    max-width: 900px;
    margin: auto;
    margin-top: 32px;

    font-size: rem(24px);
    line-height: 133%;
    text-align: center;
  }

  &__author {
    margin-top: 48px;
  }
}

.reviews-author {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__image {
    overflow: hidden;

    width: 64px;
    height: 64px;
    margin-bottom: 20px;

    border-radius: 50%;
  }

  &__name {
    margin-bottom: 8px;
    font-size: rem(16px);
  }

  &__position {
    font-weight: 350;
    color: var(--gray-500);
  }
}
