@use '../utils/mixins' as *;

.section-heading {
  @include media(md) {
    margin-bottom: 40px;
  }

  max-width: 1000px;
  margin: auto;
  margin-bottom: 80px;

  &__title {
    @include media(md) {
      font-size: rem(24px);
    }

    font-size: rem(48px);
    text-align: center;
    letter-spacing: -0.03em;
  }

  &__subtitle {
    @include media(md) {
      margin-top: 12px;
      font-size: 16px;
    }

    margin-top: 16px;

    font-size: 32px;
    line-height: 125%;
    color: var(--accent-color);
    text-align: center;
  }

  &__desc {
    @include media(md) {
      margin-top: 16px;
      font-size: rem(16px);
    }

    margin-top: 32px;

    font-size: rem(20px);
    font-weight: 350;
    line-height: 150%;
    color: var(--gray-300);
    text-align: center;
  }
}
