@use '../utils/mixins' as *;

.steps {
  @include media(md) {
    grid-template-columns: 1fr;
  }

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;

  &__item {
    @include media(md) {
      padding: 20px;
      border-radius: 16px;
    }

    padding: 30px;
    background: #272727;
    border-radius: 24px;
  }

  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &__duration {
    display: flex;
    align-items: center;
  }

  &__icon {
    margin-right: 12px;
  }

  &__index {
    color: var(--gray-500);
  }

  &__title {
    @include media(md) {
      font-size: rem(20px);
    }

    margin-bottom: 16px;
    font-size: rem(24px);
  }

  &__desc {
    font-size: rem(16px);
    font-weight: 350;
    line-height: 150%;
    color: var(--gray-300);
  }

  &__purchase {
    margin-top: 24px;
  }

  &__image {
    margin-top: 36px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
