
extends ../layouts/main

block content
  include ../blocks/hero-secondary
  include ../blocks/features
  include ../blocks/cases
  include ../blocks/creative-block
  include ../blocks/steps
  include ../blocks/showroom
  include ../blocks/features-experience
  include ../blocks/team
  include ../blocks/reviews
  include ../blocks/features-grid
  include ../blocks/cta
  include ../blocks/faq