
extends ../layouts/main

block content
  include ../blocks/hero
  include ../blocks/features
  include ../blocks/cases
  include ../blocks/steps
  include ../blocks/results
  include ../blocks/reviews
  include ../blocks/features-grid
  include ../blocks/cta
  include ../blocks/faq