
extends ../layouts/thank-you

block content
  section.container
    .thank-you
      picture.thank-you__image
        img(src=require('@/images/thank-you.svg'), alt="")
      h1.thank-you__title Thank you! We have received your payment. Now let's get to work!
      .thank-you__desc It will take 20-30 minutes
      a.thank-you__btn.btn.btn--primary(href="#")  
        span.btn__inner Fill out the brief


