
extends ../layouts/thank-you

block content
  section.container
    .thank-you
      h1.thank-you__title Thank you! We have received your payment. Now let's get to work!
      .thank-you__desc It will take 20-30 minutes

      a.thank-you__btn.btn.btn--primary(href="#")  
        span.btn__inner Fill out the brief
      button.thank-you__share 
        span  Share with friend
        svg(width="24" height="24")
          use(xlink:href="sprite.svg#share_sprite") 
      picture.thank-you__image
        img(src=require('@/images/thank-you.svg'), alt="")
