@use './mixins' as *;

:root {
  --container: 1720px;
  --gap: 30px;
  --gap-y: 100px;
  --gap-y-s: 80px;
  @each $breakpoint, $val in $breakpoints {
    @include media($breakpoint) {
      @if $val == 1440px {
        --container: 1390px;
      } @else {
        @if $val == 1920px {
          --container: 1390px;
        } @else {
          @include media($breakpoint) {
            --container: #{$val};
          }
        }
      }
    }
  }
  @include media(md) {
    --gap: 16px;
    --gap-y: 50px;
    --gap-y-s: 40px;
  }
}

:root {
  --accent-color: #e6fe51;
  --red-color: #dd3e3e;
  --background-color: #1c1c1c;
  --white-color: #fff;
  --gray-color: #949494;
  --gray-100: #f2f2f2;
  --gray-200: #e8e8e8;
  --gray-300: #d8d8d8;
  --gray-400: #b4b4b4;
  --gray-500: #949494;
  --gray-600: #6c6c6c;
  --gray-700: #595959;
  --gray-800: #3a3a3a;
  --gray-900: #1a1a1a;
  --gray-1000: #272727;
}
